.scene-container {
    display: flex;
    position: relative;
    width: fit-content;
    user-select: none;

    canvas {
        height: 100%;
        position: absolute;
        width: 100%;
    }
}
