<div class="app">
    <app-start-screen *ngIf="currentScene() === scene.Start" [@fadeIn]></app-start-screen>
    <!-- QS -->
    <app-floor-qs *ngIf="currentScene() === scene.FloorQs" [@fadeIn]></app-floor-qs>
    <app-desk-qs *ngIf="currentScene() === scene.DeskQS" [@fadeIn]></app-desk-qs>
    <app-desk-qs-keyboard *ngIf="currentScene() === scene.DeskQSKeyboard" [@fadeIn]></app-desk-qs-keyboard>

    <!-- DEV -->
    <app-desk-dev-daniel *ngIf="currentScene() === scene.DeskDevDaniel" [@fadeIn]></app-desk-dev-daniel>
    <app-desk-dev-daniel-headphones *ngIf="currentScene() === scene.DeskDevDanielHeadphones" [@fadeIn]></app-desk-dev-daniel-headphones>
    <app-desk-dev-mike *ngIf="currentScene() === scene.DeskDevMike" [@fadeIn]></app-desk-dev-mike>
    <app-desk-dev-toni *ngIf="currentScene() === scene.DeskDevToni" [@fadeIn]></app-desk-dev-toni>

    <!-- DS -->
    <app-desk-ds-sascha *ngIf="currentScene() === scene.DeskDsSascha" [@fadeIn]></app-desk-ds-sascha>

    <!-- AC -->
    <app-floor-ac *ngIf="currentScene() === scene.FloorAc" [@fadeIn]></app-floor-ac>

    <!-- Door -->
    <app-door *ngIf="currentScene() === scene.Door" [@fadeIn]></app-door>

    <!-- Couch -->
    <app-couch *ngIf="currentScene() === scene.Couch" [@fadeIn]></app-couch>

    <!-- Fridge -->
    <app-fridge *ngIf="currentScene() === scene.Fridge" [@fadeIn]></app-fridge>

    <!-- Flyman -->
    <app-flyman *ngIf="currentScene() === scene.Flyman" [@fadeIn]></app-flyman>

    <canvas #canvas height="1080" width="1618"></canvas>
</div>