.app {
    position: relative;
    width: fit-content;
    height: fit-content;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    app-inventory {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
