<div class="app">
    <app-start-screen *ngIf="currentScene() === scene.Start"></app-start-screen>
    <!-- QS -->
    <app-floor-qs *ngIf="currentScene() === scene.FloorQs"></app-floor-qs>
    <app-desk-qs *ngIf="currentScene() === scene.DeskQS"></app-desk-qs>
    <app-desk-qs-keyboard *ngIf="currentScene() === scene.DeskQSKeyboard"></app-desk-qs-keyboard>

    <!-- DEV -->
    <app-desk-dev-daniel *ngIf="currentScene() === scene.DeskDevDaniel"></app-desk-dev-daniel>
    <app-desk-dev-daniel-headphones *ngIf="currentScene() === scene.DeskDevDanielHeadphones"></app-desk-dev-daniel-headphones>
    <app-desk-dev-mike *ngIf="currentScene() === scene.DeskDevMike"></app-desk-dev-mike>

    <!-- AC -->
    <app-floor-ac *ngIf="currentScene() === scene.FloorAc"></app-floor-ac>

    <!-- Door -->
    <app-door *ngIf="currentScene() === scene.Door"></app-door>

    <!-- Couch -->
    <app-couch *ngIf="currentScene() === scene.Couch"></app-couch>

    <!-- Flyman -->
    <app-flyman *ngIf="currentScene() === scene.Flyman"></app-flyman>

    <canvas #canvas height="1080" width="1618"></canvas>
</div>