<div class="start-screen">
    <img src="../../../assets/images/2017_Kraftwerk.jpg">

    <div class="absolute-flex-container welcome-1-container">
        <div class="welcome-1">Welcome to the Kraftwerk Escape-Game!</div>
    </div>

    <!-- <div>To escape the Kraftwerk you must first enter it.</div> -->

    <!-- <div>To start the game find out how to start the game!</div> -->

    <div class="absolute-flex-container sign-container">
        <div class="sign" (click)="startGame()">GO</div>
    </div>
</div>