.text-input {
    width: 48px;
    height: 48px;
    border: 3px solid rebeccapurple;
    background-color: black;
    color: antiquewhite;
    font-size: 32px;
    padding: 16px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-input-container {
    position: absolute;
    top: 200px;
    left: 700px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}