<div class="scene-container">
    <img [src]="iconSrc()">
</div>

<div class="text-input-container">
    <div class="text-input">
        {{ text.length > 0 ? text[0] : '' }}
    </div>
    <div class="text-input">
        {{ text.length > 1 ? text[1] : '' }}
    </div>
    <div class="text-input">
        {{ text.length > 2 ? text[2] : '' }}
    </div>
    <div class="text-input">
        {{ text.length > 3 ? text[3] : '' }}
    </div>
    <div class="text-input">
        {{ text.length > 4 ? text[4] : '' }}
    </div>
    <div class="text-input">
        {{ text.length > 5 ? text[5] : '' }}
    </div>
    <div class="text-input">
        {{ text.length > 6 ? text[6] : '' }}
    </div>
    <div class="text-input">
        {{ text.length > 7 ? text[7] : '' }}
    </div>
    <div class="text-input">
        {{ text.length > 8 ? text[8] : '' }}
    </div>
</div>